version: '3.8'
services:
  cache:
    image: redis/redis-stack:latest
    container_name: voter-cache
    restart: on-failure
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - ./cache-data:/data
    environment:
      - REDIS_ARGS=--appendonly yes
    networks:
      - backend
      - frontend

  cache-init:
    image: redis/redis-stack:latest
    volumes:
      - ./cache-data:/data
    environment:
      - REDIS_ARGS=--appendonly yes
    networks:
      - backend
    command: /data/load-redis.sh cache
    depends_on:
      cache:
        condition: service_started
    
    
  voter-api:
    build:
      context: ./voter-api
      dockerfile: dockerfile
    container_name: voter-api
    restart: always
    ports:
      - '1081:1081'
    environment:
      - REDIS_URL=cache:6379
    depends_on:
      votes-api:
        condition: service_started
      # cache-init:
      #   condition: service_completed_successfully
    networks:
      - frontend
      - backend

  poll-api:
    build:
      context: ./poll-api
      dockerfile: dockerfile
    container_name: poll-api
    restart: always
    ports:
      - '1082:1082'
    environment:
      - REDIS_URL=cache:6379
    depends_on:
      votes-api:
        condition: service_started
      # cache-init:
      #   condition: service_completed_successfully
    networks:
      - frontend
      - backend

  votes-api:
    build:
      context: ./votes-api
      dockerfile: dockerfile
    container_name: votes-api
    restart: always
    ports:
      - '1080:1080'
    environment:
      - REDIS_URL=cache:6379
      - POLL_API_URL=http://poll-api:1082/polls
      - VOTER_API_URL=http://voter-api:1081/voters
    depends_on:
      cache:
        condition: service_started
      # cache-init:
      #   condition: service_completed_successfully
    networks:
      - frontend
      - backend

  testing:
    profiles: ["test"]
    build:
      context: ./testing_scripts
      dockerfile: dockerfile
    container_name: testing
    restart: "no"
    environment:
      - POLL_API_URL=http://poll-api:1082/polls
      - VOTER_API_URL=http://voter-api:1081/voters
      - VOTES_API_URL=http://votes-api:1080/votes
    depends_on:
      cache:
        condition: service_started
      votes-api:
        condition: service_started
      poll-api:
        condition: service_started
      voter-api:
        condition: service_started
    networks:
      - frontend

networks:
  frontend:
    internal: false
  backend:
    internal: true
